/* 
    Document   : programacao
    Created on : 04/01/2013, 09:46:43
    Author     : Jonathan Souza <rds_ralison@yahoo.com.br>
    Description:
        Reúne as configurações de estilo que surgiram com o sistema de
        programação da gestão e que [ainda] não estão integrados com o
        layout motiro2.
*/

p {
    line-height: 1.5em;
}

a i { text-decoration: none !important; }

.form-login {
    margin: 0 auto;
    width: 60%;
}

.form-login form {
    padding: 25px 45px;
    border: 1px solid #999;
    width: 45%;
    margin: 35px auto 0;
}

.form-login input[type=text] {
    display: block;
    width: 70%;
    margin: 10px auto;
    font-size: 2em;
    padding: 6px;
    text-align: center;
    background-color: #f7f7f7;
}

.form-login input[type=text]:focus {
    background-color: #eee;
}

.form-login .submit {
    text-align: right;
    margin: 5px;
}

.form-login .submit input {
    font-size: 1.2em;
    padding: 4px 10px;
}

table.font-normal {
    font-size: 1em;
}

table.pad-plus th, table.pad-plus td { padding: 10px; }
table.pad-medio th, table.pad-medio td { padding: 6px; }

.trilha {
    font-size: .95em;
    width: 80%;
}

small, .small { font-size: .85em; }
small, small a, .small, .small a { color: #666; }

.form-inline {
    overflow: hidden;
    display: block;
}

.form-inline .input {
    float: left;
}

.form-acao-novo .input input {
    width: 96%;
    margin: 0 auto;
}

.nopadding {
    margin: 0px;
    padding: 0px;
}

.minpadding {
    margin: 2px;
    padding: 3px;
}

.orcamento {
    overflow: hidden;
    background: #ddd;
    color: #555;
    border: 1px solid #777;
}

.orcamento .cifrao {
    font-size: 3em;
    color: #555;
    background: #bbb;
    padding: 7px 5px;
    float: left;
}

.orcamento .wrapper {
    margin-left: 22%;
    max-width: 80%;
    padding: 3px;
}

.orcamento .legenda {
    display: block;
    padding-bottom: 5px;
    font-size: .85em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
    border-bottom: 1px solid #999;
}

.orcamento .valor {
    font-size: 2em;
    text-align: center;
    padding: 3px 3px 0;
}

.error-message {
    color: red;
    padding: 3px 5px;
}

.navorcamento {
    display: block;
    clear: both;
    margin: 15px 0;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #eee;
}

.navorcamento .legenda {
    float: left;
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}

.navorcamento a {
    float: left;
    text-align: center;
    padding: 10px 15px;
    font-size: .85em;
    line-height: 1.5em;
}

.navorcamento a:hover {
    background-color: #f3f3f3;
}

.navorcamento a i {
    display: block;
}

table.bordered,
table.bordered th,
table.bordered td {
    border: 1px solid #ddd;
}

table.bordered {
    border-width: 1px 1px 0 0;
}
table.bordered th,
table.bordered td {
    border-width: 0 0 1px 1px;
}

table {
    background-color: #fbfbfb;
}

table.gradeada thead tr {
    background-color: #555;
}

table.gradeada tbody tr th,
table.gradeada tbody tr td {
    border-bottom: 1px solid #555;
}

table.gradeada thead tr th,
table.gradeada thead tr td {
    color: #fff;
}

dl.sumario {
    line-height: 1.8em;
    margin-left: 50px;
}

dl.sumario dt {
    margin-top: 15px;
}